* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5px;
  }
  .block-progress {
    display: flex;
  }
  .block__input__container {
    display: flex;
    gap: 10px;
  }
  .block_toggle {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 1.6rem;
  }
  .block__input {
    opacity: 0;
    height: 0;
    width: 0;
  }
  .move {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc; 
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .move::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 1.1rem;
    height: 1.25rem;
    border-radius: 1.5rem;
    top: 0.15rem; 
    bottom: 0;
    left: 0.13rem;
    transition: 0.3s;
  }
  .block__input:checked + .move {
    background-color: rgb(0, 76, 255);
  }
  .block__input:checked + .move::before {
    background-color: rgb(255, 255, 255);
    transform: translateX(1.1rem);
  }
@media (orientation: portrait) {
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5px;
  }
  .block-progress {
    display: flex;
  }
  .block__input__container {
    display: flex;
    gap: 10px;
  }
  .block_toggle {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 1.6rem;
  }
  .block__input {
    opacity: 0;
    height: 0;
    width: 0;
  }
  .move {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc; 
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .move::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 1.1rem;
    height: 1.25rem;
    border-radius: 1.5rem;
    top: 0.15rem; 
    bottom: 0;
    left: 0.13rem;
    transition: 0.3s;
  }
  .block__input:checked + .move {
    background-color: rgb(0, 76, 255);
  }
  .block__input:checked + .move::before {
    background-color: rgb(255, 255, 255);
    transform: translateX(1.1rem);
  }
}
