* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (orientation: portrait) {
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5px;
  }
  .block-progress{
    display: flex;
  }
  .block__input__container{
     display: flex;
     gap: 10px;
  }
  .block_toggle{
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 1.5rem;
  }
  .block__input{
    opacity: 1;
    height: 0;
    width: 0;
  }
  .move{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 76, 255);
    border-radius:1rem ;
    border: .1rem solid black
  }
}

