* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 5px;
}
.block-progress {
  display: flex;
  margin-bottom: 100px;
}
.block-progress.hidden {
  display: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.outer-block-progress {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    rgb(0, 76, 255) 0deg var(--progress, 0deg),
    #e0e0e0 var(--progress, 0deg) 360deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
  transform: rotate(0deg);
}
.outer-block-progress.animated {
  animation: rotate 2s linear infinite;
}

.inner-block-progress {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
}
.block__input__container {
  display: flex;
  justify-content: space-between;
  text-align: start;
  width: 120px;
}
.block__input__container .block__input_value {
  border: 0.1rem solid black;
  border-radius: 2rem;
  width: 2.5rem;
  height: 1.6rem;
  text-align: center;
}
.block__input__container p {
  margin-left: 15px;
  text-align: left;
  min-width: 50px;
}
.block_toggle {
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 1.6rem;
  margin-right: auto;
}
.block__input {
  opacity: 0;
  height: 0;
  width: 0;
}
.move {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.move::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 1.1rem;
  height: 1.25rem;
  border-radius: 1.5rem;
  top: 0.15rem;
  bottom: 0;
  left: 0.13rem;
  transition: 0.3s;
}
.block__input:checked + .move {
  background-color: rgb(0, 76, 255);
}
.block__input:checked + .move::before {
  background-color: rgb(255, 255, 255);
  transform: translateX(1.1rem);
}
@media (orientation: portrait) {
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5px;
  }
  .block-progress {
    display: flex;
  }

  .block__input__container {
    display: flex;
    gap: 10px;
  }
  .block_toggle {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 1.6rem;
  }
  .block__input {
    opacity: 0;
    height: 0;
    width: 0;
  }
  .move {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .move::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 1.1rem;
    height: 1.25rem;
    border-radius: 1.5rem;
    top: 0.15rem;
    bottom: 0;
    left: 0.13rem;
    transition: 0.3s;
  }
  .block__input:checked + .move {
    background-color: rgb(0, 76, 255);
  }
  .block__input:checked + .move::before {
    background-color: rgb(255, 255, 255);
    transform: translateX(1.1rem);
  }
}
